<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

    <div style="width: 300px; margin: auto; margin-top: 50px;">
        <p>
            <a href="{% url 'add_product' %}">Добавить продукт</a>
        </p>

        <br><br>
        {% for product in products %}
            <p>{{ product }}</p>
            <p>
                <a href="{{ product.get_absolute_url }}">Перейти</a>
            </p>
            <p>
                <a href="{% url 'product_update' param=product.slug %}">Обновить</a>
            </p>
            <p>
                <a href="{% url 'product_delete' params=product.slug %}">Удалить</a>
            </p>
            <br>
        {% endfor %}

    </div>

</body>
</html>